* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
   clear: both;
   content: '';
   display: table;
}


#menu-left {
    background: rgb(21,21,23);
    background: linear-gradient(135deg, rgba(21,21,23,1) 83%, rgba(28,28,29,1) 100%);
    width: 230px;
    height: calc(100vh - 90px);
    float: left;
    color: #fff;
    padding: 30px 30px 30px 0;
    position: relative;

}

#menu-left img.logo{
    width: 180px;
    padding-bottom: 20px;
    padding-left: 30px;
    cursor:pointer;
}

#menu-left li {
    list-style: none;
    padding: 10px 0 10px 30px;
}

#menu-left li.active {
    border-left: 3px solid rgb(29, 185, 84);
}


#menu-left li:hover{
    border-left: 3px solid rgb(29, 185, 84);
}

#menu-left i{
    vertical-align: middle;
}

#menu-left .navigation>li>a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    opacity: 0.6;
}

#menu-left .navigation li.active a.active {
    opacity: 1;
}

#menu-left .navigation>li>a:hover, #menu-left .playlist>li>a:hover {
    opacity: 1;
}

#menu-left .navigation img.search, #menu-left .navigation img.home, #menu-left .navigation img.library {
    width: 35px;
    padding: 0;
    padding-right: 15px;
    vertical-align: middle;
}

.create {
    width: 30px;
    height: 30px;
    background-color: white;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    margin-right: 10px;
}

.create::after {
    content: '\f067';
    font-family: "Font Awesome 5 Free";
    font-weight:bold;
    font-size: 15px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preferred {
    width: 30px;
    height: 30px;
    background: rgb(63,15,222);
    background: linear-gradient(135deg, rgba(63,15,222,1) 7%, rgba(215,248,249,1) 78%);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    margin-right: 10px;

}

.preferred::after {
    content: '\f004';
    font-family: "Font Awesome 5 Free";
    font-weight:bold;
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu-left a.playlist-create, #menu-left a.playlist-preferred{
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
    font-size: 13px;
    font-weight: 600;
}

#menu-left a.playlist-preferred:hover, #menu-left a.playlist-create:hover{
    opacity: 1;
}

#menu-left a.playlist-preferred{
    line-height: 50px;
}
.recent {
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 13px;
    padding: 20px 0 20px;
    margin-left: 30px;
    margin-top: 20px;
    border-top: 1px solid #fff;
}

.playlist {
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 13px;
    padding: 20px 0 20px 30px;
}

.install-app {
    bottom: 50px;
    position: absolute;
    padding: 30px;
    opacity: 0.6;

}

.install-app a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.install-app .far {
    font-size: 20px;
    padding-right: 20px;
}

p.ellipsis {
    font-size: 13px;
    color: #fff;
    opacity: 0.6;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    width: 200px;
    padding-left: 30px;
    padding-bottom: 10px;
}

p.ellipsis:hover{
    cursor: pointer;
    opacity: 1;
}

.account {
    bottom: 0;
    position: absolute;
    padding: 30px;
    opacity: 0.6;
}

.account a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.account .far {
    font-size: 20px;
    padding-right: 20px;
}

.account:hover, .install-app:hover {
    opacity: 1;
}

#main-content {
    float: left;
    width: calc(100vw - 230px);
    height: calc(100vh - 90px);
    background: rgb(43,43,46);
    background: linear-gradient(135deg, rgba(43,43,46,1) 0%, rgba(43,43,46,1) 10%, rgba(21,21,23,1) 89%);
    overflow-y: auto;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    padding-top: 50px;
}

.main-menu a{
    text-decoration: none;
    color: #fff;
    padding:0 20px;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.7;
    position: relative;
}

/* ::after per far apparire le "sottolineature quando si va in hover sui link del main-menu" */
.main-menu a::after{
    content: '';
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    bottom: -30px;
    border-bottom: 2px solid rgb(29, 185, 84);
    width: 30px;
    opacity:0;
}

.main-menu a:hover::after, .main-menu a:hover{
    opacity: 1;
}

#main-content .main-menu a.active{
    opacity: 1;
}

#main-content .main-menu a.active::after{
    content: '';
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    bottom: -30px;
    border-bottom: 2px solid rgb(29, 185, 84);
    width: 30px;
    opacity: 1;
}

#main-content .fas {
    font-size: 40px;
    color: white;
    opacity: 0.6;
    display: none;
    padding-top: 30px;
    padding-left: 20px;
    cursor: pointer;
}

#main-content .fas:hover{
    opacity: 1;
}

h1 {
    padding: 0 0 30px 20px;
    color: #fff;
    width: 100%;
}

.row {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    padding-top: 50px;
}

a.song-track {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.album p {
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    width: 200px;
    color: #fff;
    padding-top: 5px;
}

.album {
    padding: 0 0px 30px 20px;
}

a.author {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    opacity: 0.6;
    text-decoration: none;
}

a.author:hover, a.song-track:hover {
    text-decoration: underline;

}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

#main-content img {
    width: 200px;
}

/* hover-img per far oscurare l'immagine in hover e far apparire l'icona del tasto play */
.hover-img {
    position: relative;
    cursor: pointer;
}

.hover-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.hover-img::after {
    content: '\f04b';
    font-family: "Font Awesome 5 Free";
    font-weight:bold;
    font-size: 72px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.hover-img:hover::after {
    opacity: 0.7;
}

.hover-img:hover::before {
    background-color: rgba(2, 2, 2, 0.5);
    box-shadow: 0 0 10px #000000;
}

#player-controls {
    width: 100vw;
    height: 90px;
    background-color: #282828;
    float: left;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.track {
    display: flex;
    align-items: center;
    width: calc((100% - 35%)/2);
}

.track img {
    height: 70%;
    cursor: pointer;
}

.track img:hover {
    box-shadow: 0 0 10px #000000;
}

.title {
    padding-left: 30px;
}

.title a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

.title a:hover{
    text-decoration: underline;
}

.title a.author {
    font-size: 11px;
    font-weight: 500;
    opacity: 0.6;
}

.title a.author:hover{
    text-decoration: underline;
    opacity: 1;
}

.controls{
    width: 35%;
}

.controls-up {
    text-align: center;
    font-size: 15px;

}

.controls-up .fas {
    padding:20px;
    color: #fff;
    opacity: 0.6;
}

.controls-up .fas:hover{
    opacity: 1;
}

/* cerchio attorno all'icona pausa */
.circle .fas{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
}

.circle .fas:hover{
    font-size: 16px;
}

.range input{
    width: 80%;
    vertical-align: middle;
}

/* style dell'input range slider */
input[type=range]{
    -webkit-appearance: none;
    height: 4px;
    border-radius: 3px;
    background: hsla(0,0%,100%,.2);
}

/* style del cerchietto dello slider */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.range span{
    vertical-align: middle;
    font-size: 11px;
    color: #fff;
    opacity: 0.6;
}

.range{
    text-align: center;
}

.volume {
    line-height: 80px;
    width: calc((100% - 35%)/2);
    text-align: right;
}

.volume .fas {
    color: #fff;
    opacity: 0.6;
    padding-right: 10px;
}

.volume .fas:hover {
    opacity: 1;
}

.volume i {
    vertical-align: middle;
}

.volume input {
    vertical-align: middle;
}

/* logo spotify senza scritta per schermi sotto i 768 px */
.visible-xs {
    display: none;
    font-size: 50px;
    color: #fff;
    opacity: 0.6;
    padding: 30px 16px;
}

/* titolo e autore brano che appairanno sotto il player dai 767 px in giù */
.footer-bottom-xs {
    display: none;
    width: 100vw;
    background-color: #282828;
    text-align: center;
}

/* media query per il responsive su schermi con dimensioni inferiori a 768 px */

@media (max-width: 767px) {

    #menu-left .navigation img.search, #menu-left .navigation img.home, #menu-left .navigation img.library {
        width: 45px;
    }

    .create, .preferred{
        display: none;
    }

    #main-content .fas {
        display: block;
    }

    #player-controls {
        padding: 5px;
        flex-wrap: wrap;
        height: 130px;
    }

    .playlist {
        padding: 10px;
    }

    .volume {
        display: none;
    }

    .track .title {
        display: none;
    }

    .track img {
        height: 75px;
        margin-left: 5px;
    }

    .controls{
        width: 80%;
        padding: 10px;
    }

    .track {
        width: 20%;
    }

    .controls-up .fas {
        padding: 10px;
    }

    .main-menu {
        display: none;
    }

    #menu-left span {
        display: none;
    }

    #menu-left li {
        padding-left: 25px;
        margin-bottom: 15px;
    }

    #menu-left {
        width: 80px;
        padding: 0;
        height: calc(100vh - 130px);
    }

    .account .far , .install-app .far {
        font-size: 30px;
    }

    .account, .install-app {
        padding-left: 25px;
    }

    #main-content {
        width: calc(100vw - 80px);
        height: calc(100vh - 130px);
    }

    #main-content img{
        width: 110px;
    }

    .album p {
        width: 110px;
    }

    h1 {
        font-size: 25px;
    }

    .range input {
        width: 70%;
    }

    .range {
        padding-top: 10px;
    }

    #menu-left img.logo {
        display: none;
    }

    .visible-xs {
        display: block;
    }

    .visible-xs:hover{
        color: #1db954;
        opacity: 1;
    }

    .row {
        padding-left: 10px;
        padding-right: 10px;
    }

    .recent {
        border-top: 0;
    }

    .footer-bottom-xs{
        display: block;
    }

    .footer-bottom-xs .title {
        padding: 0;
        margin: 0;
    }
}

/* media query per il responsive su schermi con dimensioni inferiori tra i 768 px e i 991px */

@media (min-width:768px) and (max-width:991px) {

    .main-menu{
        display: none;
    }
    #main-content .fas {
        display: block;
    }

    #main-content img{
        width: 150px;
    }

    .album p {
        width: 150px;
    }

    .controls-up .fas {
        padding: 10px;
    }
    .controls {
        padding: 10px;
    }

    .range input {
        width: 70%;
    }

    .range{
        padding-top: 10px;
    }

    .volume .fas{
        padding:3px;
    }

    .volume input{
        width: 30%;
    }
}
