* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    clear: both;
   content: '';
   display: table;
}


#menu-left {
    background-color: black;
    padding: 20px;
    width: 250px;
    height: calc(100vh - 90px);
    float: left;
}

#menu-left img{
    width: 150px;
}

#main-content {
    float: left;
    width: calc(100vw - 250px);
    height: calc(100vh - 90px);
    background-color: lightgreen;
}

#player-controls {
    width: 100vw;
    height: 90px;
    background-color: grey;
    float: left;

}
